@include font-face('Abolition Regular', abolition-regular);

.main-heading {  
  font-size: 5.625rem;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3; 
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
  margin: 12px 0 0;
}

.main-title {
  color: white;
  font-size: 1.625rem;
  letter-spacing: .065em;
  font-weight: 200;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

.intro {
  font-size: 1.25em;
  line-height: 1.6; 
	color: initial;
}