/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header,
  .main-nav {
    display: flex;
  }

  .main-header {
    flex-direction: column;
    align-items: center;
  }

  .row {
    display: flex;
  }

.col {
  flex: 1;
}


@media (min-width: 1025px) {
  
  .main-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .primary {
    flex: 2;
  }

}

